In [22]:
# imports

import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
ratings_ba_df = pd.read_csv('data/ratings_BA.csv')
ratings_rb_df = pd.read_csv('data/ratings_RB.csv')

In [24]:
breweries_ba_df = pd.read_csv('data/breweries_BA.csv')
breweries_rb_df = pd.read_csv('data/breweries_RB.csv')

In [25]:
display(ratings_ba_df)

,beer_name,beer_id,brewery_id,brewery_name,style,date,user_id,user_name,appearance,aroma,palate,taste,overall,rating,text
0,Régab,142544,37262,Societe des Brasseries du Gabon (SOBRAGA),Euro Pale Lager,1440064800,nmann08.184925,nmann08,3.25,2.75,3.25,2.75,3.0,2.88,"From a bottle, pours a piss yellow color with ..."
1,Barelegs Brew,19590,10093,Strangford Lough Brewing Company Ltd,English Pale Ale,1235127600,stjamesgate.163714,StJamesGate,3.00,3.50,3.50,4.00,3.5,3.67,Pours pale copper with a thin head that quickl...
2,Barelegs Brew,19590,10093,Strangford Lough Brewing Company Ltd,English Pale Ale,1142247600,mdagnew.19527,mdagnew,4.00,3.50,3.50,4.00,3.5,3.73,"500ml Bottle bought from The Vintage, Antrim....."
3,Barelegs Brew,19590,10093,Strangford Lough Brewing Company Ltd,English Pale Ale,1101898800,helloloser12345.10867,helloloser12345,4.00,3.50,4.00,4.00,4.5,3.98,Serving: 500ml brown bottlePour: Good head wit...
4,Barelegs Brew,19590,10093,Strangford Lough Brewing Company Ltd,English Pale Ale,1093860000,cypressbob.3708,cypressbob,4.00,4.00,4.00,4.00,4.0,4.00,"500ml bottlePours with a light, slightly hazy ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2715707,Irvington Pale Ale,19141,885,Summit Station Restaurant & Brewery,American Pale Ale (APA),1100516400,ecoboy.1641,ecoboy,3.50,3.00,3.50,3.00,3.5,3.18,"It may say APA on this site, but talking to th..."
2715708,Kölsch Ale,19139,885,Summit Station Restaurant & Brewery,Kölsch,1141038000,jaluria.31362,jaluria,3.50,3.50,3.50,4.00,4.0,3.80,I'll start off reviewing this beer with the fo...
2715709,Kölsch Ale,19139,885,Summit Station Restaurant & Brewery,Kölsch,1140346800,dithyramb.4413,Dithyramb,3.00,3.00,3.00,2.50,3.0,2.80,Served on draft at the pub. Poured a clear yel...
2715710,Kölsch Ale,19139,885,Summit Station Restaurant & Brewery,Kölsch,1092132000,manekineko.2654,ManekiNeko,3.00,1.50,1.00,1.50,1.5,1.54,Served on tap at the brewpub in a pint glass.A...
2715711,Nut Brown Ale,19140,885,Summit Station Restaurant & Brewery,English Brown Ale,1140346800,dithyramb.4413,Dithyramb,3.00,3.00,3.00,3.00,3.0,3.00,Dark brown brew served on tap at the brewpub. ...

In [26]:
display(ratings_rb_df)

,beer_name,beer_id,brewery_id,brewery_name,style,date,user_id,user_name,appearance,aroma,palate,taste,overall,rating,text
0,33 Export (Gabon),410549,3198,Sobraga,Pale Lager,1461664800,175852,Manslow,2.0,4.0,2.0,4.0,8.0,2.0,"Puszka 0,33l dzięki Christoph . Kolor jasnozło..."
1,Castel Beer (Gabon),105273,3198,Sobraga,Pale Lager,1487329200,442761,MAGICuenca91,2.0,3.0,2.0,4.0,8.0,1.9,Cerveza pale lager gabonesa. MÃ¡s floja que la...
2,Castel Beer (Gabon),105273,3198,Sobraga,Pale Lager,1466762400,288889,Sibarh,3.0,3.0,2.0,3.0,5.0,1.6,"Kolor- złoty, klarowny. Piana - drobna, średni..."
3,Castel Beer (Gabon),105273,3198,Sobraga,Pale Lager,1451646000,250510,fombe89,4.0,3.0,1.0,2.0,5.0,1.5,"Botella, de GabÃ³n regalo familiar.31/01/2015C..."
4,Castel Beer (Gabon),105273,3198,Sobraga,Pale Lager,1445594400,122778,kevnic2008,2.0,4.0,2.0,4.0,7.0,1.9,Many thanks for this beer to Erzengel. Pours l...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7122069,Svejk Blonde,220897,17155,Svejk Beer Garden,Pale Lager,1411034400,83882,Travlr,3.0,6.0,2.0,5.0,10.0,2.6,"Draft at the source. Clear golden color, fluff..."
7122070,Svejk Blonde,220897,17155,Svejk Beer Garden,Pale Lager,1385895600,10233,TBone,2.0,5.0,2.0,6.0,10.0,2.5,"Tap @brewpub, TiraneClear golden color, good c..."
7122071,Svejk Dark,220898,17155,Svejk Beer Garden,Dunkel/Tmavý,1415098800,257161,Rob_D_UK,3.0,4.0,2.0,5.0,9.0,2.3,In their beer garden after a walking tour arou...
7122072,Svejk Dark,220898,17155,Svejk Beer Garden,Dunkel/Tmavý,1410861600,83882,Travlr,3.0,5.0,1.0,4.0,6.0,1.9,"Draft at the source. Hazy maroon color, tan he..."
7122073,Svejk Dark,220898,17155,Svejk Beer Garden,Dunkel/Tmavý,1385895600,10233,TBone,4.0,4.0,2.0,4.0,8.0,2.2,"Tap @brewpub, TiraneDark brown color, nice cre..."

In [27]:
display(breweries_ba_df)

,id,location,name,nbr_beers
0,39912,Kyrgyzstan,Abdysh-Ata (Абдыш Ата),5
1,39913,Kyrgyzstan,Arpa (АРПА),1
2,39914,Kyrgyzstan,Bear Beer,4
3,39915,Kyrgyzstan,Blonder Pub,4
4,39916,Kyrgyzstan,Kellers Bier,2
...,...,...,...,...
16753,128,Germany,Privatbrauerei Franz Joseph Sailer,6
16754,5023,Aruba,Aruba Brewing,0
16755,1573,"United States, New York",John Harvard’s Brewery & Ale House,491
16756,16186,"United States, North Carolina",Triangle Brewing Company,20
16757,1138,"United States, Maryland",South Baltimore Brewing,0

In [28]:
display(breweries_rb_df)

          id          location                       name  nbr_beers
0       3198             Gabon                    Sobraga          3
1      13538  Northern Ireland           Ards Brewing Co.         13
2      22304  Northern Ireland  Barrahooley Craft Brewery          4
3      22818  Northern Ireland                   Boundary         66
4      24297  Northern Ireland            Brewbot Belfast          3
...      ...               ...                        ...        ...
24184  28180           Albania            Shoqeria Picana          1
24185   1107           Albania               Stefani & Co         11
24186   9355           Albania              Hotel Martini          1
24187   9928           Albania             Rozafa Brewery          1
24188  17155           Albania          Svejk Beer Garden          2

[24189 rows x 4 columns]

In [35]:
# Assumption: BA and RB dont use the same brewery_id's

# rename id column of breweries df to brewery_id
breweries_ba_df.rename(columns={'id': 'brewery_id'}, inplace=True)
breweries_rb_df.rename(columns={'id': 'brewery_id'}, inplace=True)
# add the location from the breweries df to the ratings df
ratings_ba_df = ratings_ba_df.merge(breweries_ba_df[['brewery_id', 'location']], on='brewery_id', how='left')
ratings_rb_df = ratings_rb_df.merge(breweries_rb_df[['brewery_id', 'location']], on='brewery_id', how='left')

In [37]:
display(ratings_rb_df)

,beer_name,beer_id,brewery_id,brewery_name,style,date,user_id,user_name,appearance,aroma,palate,taste,overall,rating,text,location
0,33 Export (Gabon),410549,3198,Sobraga,Pale Lager,1461664800,175852,Manslow,2.0,4.0,2.0,4.0,8.0,2.0,"Puszka 0,33l dzięki Christoph . Kolor jasnozło...",Gabon
1,Castel Beer (Gabon),105273,3198,Sobraga,Pale Lager,1487329200,442761,MAGICuenca91,2.0,3.0,2.0,4.0,8.0,1.9,Cerveza pale lager gabonesa. MÃ¡s floja que la...,Gabon
2,Castel Beer (Gabon),105273,3198,Sobraga,Pale Lager,1466762400,288889,Sibarh,3.0,3.0,2.0,3.0,5.0,1.6,"Kolor- złoty, klarowny. Piana - drobna, średni...",Gabon
3,Castel Beer (Gabon),105273,3198,Sobraga,Pale Lager,1451646000,250510,fombe89,4.0,3.0,1.0,2.0,5.0,1.5,"Botella, de GabÃ³n regalo familiar.31/01/2015C...",Gabon
4,Castel Beer (Gabon),105273,3198,Sobraga,Pale Lager,1445594400,122778,kevnic2008,2.0,4.0,2.0,4.0,7.0,1.9,Many thanks for this beer to Erzengel. Pours l...,Gabon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7122069,Svejk Blonde,220897,17155,Svejk Beer Garden,Pale Lager,1411034400,83882,Travlr,3.0,6.0,2.0,5.0,10.0,2.6,"Draft at the source. Clear golden color, fluff...",Albania
7122070,Svejk Blonde,220897,17155,Svejk Beer Garden,Pale Lager,1385895600,10233,TBone,2.0,5.0,2.0,6.0,10.0,2.5,"Tap @brewpub, TiraneClear golden color, good c...",Albania
7122071,Svejk Dark,220898,17155,Svejk Beer Garden,Dunkel/Tmavý,1415098800,257161,Rob_D_UK,3.0,4.0,2.0,5.0,9.0,2.3,In their beer garden after a walking tour arou...,Albania
7122072,Svejk Dark,220898,17155,Svejk Beer Garden,Dunkel/Tmavý,1410861600,83882,Travlr,3.0,5.0,1.0,4.0,6.0,1.9,"Draft at the source. Hazy maroon color, tan he...",Albania
7122073,Svejk Dark,220898,17155,Svejk Beer Garden,Dunkel/Tmavý,1385895600,10233,TBone,4.0,4.0,2.0,4.0,8.0,2.2,"Tap @brewpub, TiraneDark brown color, nice cre...",Albania